@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');

.markdown {
    line-height: 1.6;
    font-family: 'Noto Serif JP', sans-serif;
    /* 新しい枠線 */
    border: 2px solid #b2c5e2;
    /* 角を丸くする */
    border-radius: 10px;

    /* 内側の余白 */
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 5px;

    /* 影を追加 */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.markdown h1 {
    font-size: 1.6em;
}

.markdown h2 {
    font-size: 1.5em;
}

.markdown h3 {
    font-size: 1.4em;
}

.markdown h4 {
    font-size: 1.3em;
}

.markdown h5 {
    font-size: 1.2em;
}

.markdown h6 {
    font-size: 1.1em;
}

.markdown p {
    margin-bottom: 1em;
}

.markdown a {
    color: #0070f3;
    text-decoration: underline;
}

.markdown code {
    border-radius: 5px;
}

.markdown blockquote {
    border-left: 4px solid #ddd;
    padding-left: 1em;
    margin-left: 0;
    color: #666;
}

.markdown ul {
    list-style: disc;
    margin-left: 2em;
}

.markdown ol {
    list-style: decimal;
    margin-left: 2em;
}

.markdown table {
    width: 100%;
    border-collapse: collapse;
}

.markdown th,
.markdown td {
    border: 1px solid #ddd;
    padding: 0.5em;
}

.markdown img {
    width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}